.carouselComponent {
  margin-bottom: 160px;
}

.carouselContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.buttonContainer {
  padding-top: 45px;
  text-align: center;
  margin: 0 auto;
}

.orderButton {
  width: 100%;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  width: 200px;
  height: 59px;
  background: #d9d9d9;
  border-radius: 50px;
  text-transform: uppercase;
  border-style: none;
}

.orderButton:hover {
  transform: scale(1.1);
  transition: 0.5s all ease;
  border: 1px black solid;
  box-shadow: 0 0 5px 2px black;
}
