.container{
    margin: 0 auto;
    width: 1140px;
}

.listcont{
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.info{
    font-size: 48px;
    color: white;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.elem{
    box-sizing: border-box;
    width: 1140px;
    height: 480px;
    background-color: #D9D9D9;
    border-radius: 50px;
    display: flex;
    gap: 110px;
    padding: 60px;
}

.about{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;

}

.name{
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

.droneInfo{
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
