  .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formContainer {
  width: 950px;
  height: 480px;
  background-color: #394424;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__header {
  margin: 30px 0 40px 0;
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  line-height: 1.2;
}

input {
  width: 79%;
  height: 80px;
  border-radius: 50px;
  border-style: none;
  background: #cbc3c3;
  font-size: 24px;
  font-weight: 400;
  padding-left: 50px;
}

#loginInput {
  margin-bottom: 40px;
}

#passwordInput {
  margin-bottom: 50px;
}

.button {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  width: 200px;
  height: 59px;
  background: #d9d9d9;
  border-radius: 50px;
  text-transform: uppercase;
  border-style: none;
}

button:hover {
  transform: scale(1.1);
  transition: 0.5s all ease;
  border: 1px black solid;
  box-shadow: 0 0 5px 2px black;
}

.svgIcon {
  position: fixed;
  right: 50px;
  bottom: 50px;
  max-width: 200px;
  max-height: 60px;
}
