.title {
  margin-top: 40px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.frame {
  width: 800px; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  background-color: #394424;
  border-radius: 20px;
  gap: 20px;
  padding: 25px 0;
}

.paragraphContainer {
  display: flex;
  justify-content: center;
}

.paragraphFrame {
  width: 720px;
  height: 45px;
  background-color: #CBC3C3;
  border-radius: 40px;
}

.buttonPlanning {
  margin: 30px auto 0;
  display: block;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 50px;
  font-size: 16px;
  border: 3px solid black;
}